<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Evaluación del Modelo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    <h1>Evaluación del Modelo</h1>

    <hr>

    <div class="alert alert-success">
        <h4>Accuracy: {{ accuracy }}%</h4>
    </div>

    <div class="alert alert-primary">
        <h4>Precision: {{ precision }}%</h4>
    </div>

    <div class="alert alert-warning">
        <h4>Recall: {{ recall }}%</h4>
    </div>

    <div class="alert alert-danger">
        <h4>F1 Score: {{ f1 }}%</h4>
    </div>

    <a href="/" class="btn btn-primary">
        Volver
    </a>

</div>

</body>
</html>